{
  "name": "oracle-xstream-rac-connector",
  "config": {
    "connector.class": "io.confluent.connect.oracle.xstream.cdc.OracleXStreamSourceConnector",
    "tasks.max": "1",
    "database.hostname": "racdb-scan.sub01061249390.xstrmconnectdb2.oraclevcn.com",
    "database.port": "1521",
    "database.user": "c##cfltuser",
    "database.password": "YOUR_PASSWORD",
    "database.dbname": "DB0312",
    "database.service.name": "SYS\\$SYS.Q\\$_XOUT_65.DB0312.SUB01061249390.XSTRMCONNECTDB2.ORACLEVCN.COM",
    "database.out.server.name": "xout",
    "database.pdb.name": "XSTRPDB",
    "confluent.topic.replication.factor": "3",
    "confluent.topic.bootstrap.servers": "kafka1:29092,kafka2:29092,kafka3:29092",
    "topic.prefix": "racdb",
    "topic.creation.enable": "true",
    "topic.creation.default.replication.factor": "3",
    "topic.creation.default.partitions": "1",
    "table.include.list": "ORDERMGMT\\.MTX_TRANSACTION_ITEMS",
    "key.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "key.converter.schemas.enable": "false",
    "value.converter.schemas.enable": "false",
    "transforms": "extractAfter,makeKeyItems,makeKeyHeader",
    "transforms.extractAfter.type": "org.apache.kafka.connect.transforms.ExtractField$Value",
    "transforms.extractAfter.field": "after",
    "transforms.extractAfter.predicate": "onlyItemsOrHeaderTable",
    "transforms.makeKeyItems.type": "org.apache.kafka.connect.transforms.ValueToKey",
    "transforms.makeKeyItems.fields": "TRANSFER_ID,TXN_SEQUENCE_NUMBER",
    "transforms.makeKeyItems.predicate": "onlyItemsTable",
    "transforms.makeKeyHeader.type": "org.apache.kafka.connect.transforms.ValueToKey",
    "transforms.makeKeyHeader.fields": "TRANSFER_ID",
    "transforms.makeKeyHeader.predicate": "onlyHeaderTable",
    "predicates": "onlyItemsTable,onlyHeaderTable,onlyItemsOrHeaderTable",
    "predicates.onlyItemsTable.type": "org.apache.kafka.connect.transforms.predicates.TopicNameMatches",
    "predicates.onlyItemsTable.pattern": ".*\\.ORDERMGMT\\.MTX_TRANSACTION_ITEMS",
    "predicates.onlyHeaderTable.type": "org.apache.kafka.connect.transforms.predicates.TopicNameMatches",
    "predicates.onlyHeaderTable.pattern": ".*\\.ORDERMGMT\\.MTX_TRANSACTION_HEADER",
    "predicates.onlyItemsOrHeaderTable.type": "org.apache.kafka.connect.transforms.predicates.TopicNameMatches",
    "predicates.onlyItemsOrHeaderTable.pattern": ".*\\.ORDERMGMT\\.MTX_TRANSACTION_(ITEMS|HEADER)",
    "schema.history.internal.kafka.topic": "__orcl-schema-changes.racdb",
    "schema.history.internal.kafka.bootstrap.servers": "kafka1:29092,kafka2:29092,kafka3:29092",
    "schema.history.internal.kafka.recovery.poll.interval.ms": "30000",
    "snapshot.mode": "no_data",
    "snapshot.fetch.size": "10000",
    "snapshot.max.threads": "8",
    "query.fetch.size": "50000",
    "max.queue.size": "262144",
    "max.batch.size": "65536",
    "producer.override.batch.size": "1048576",
    "producer.override.linger.ms": "50",
    "producer.override.compression.type": "lz4",
    "producer.override.buffer.memory": "67108864",
    "heartbeat.interval.ms": "300000"
  }
}
